DJANGO_SECRET_KEY=
DJANGO_DEBUG=
OPENAI_API_KEY=
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_PHONE_NUMBER=
WHATSAPP_VERIFY_TOKEN=
BOTO_ACCESS_KEY_ID=(KEY DA AWS)
BOTO_SECRET_ACCESS_KEY=(SECRET KEY DA AWS)
BOTO_REGION=sa-east-1 (REGIÃO DA AWS)
BOSS_ID=5512981586001
BOSS_NAME=Nicholas
BOSS_EMAIL=nicholasyukio@gmail.com
